   .btn-custom-back {
        background-color: var(--secondary-color);
        color: #0c0713;
    }
    .btn-custom-back:hover {
        background-color: var(--hover-color);
        color: #0c0713;
    }